@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.4;
}

a:link,
a:visited {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Utility */

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  /* overflow: hidden; */
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #4169e1;
}

.l-heading {
  font-size: 3.5rem;
  line-height: 1;
  margin-bottom: 0.75rem;
}

.m-heading {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 0.75rem;
}

.lead {
  font-size: 1.3rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.btn {
  color: #fff;
  background: #4169e1;
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
}

.btn:hover {
  background: #0000cb;
}

.btn-dark {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
}

.btn-dark:hover {
  background-color: #555;
  color: #fff;
}

.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.bg-light {
  background: #eee;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-primary {
  background-color: #4169e1;
  color: #fff;
}

.list {
  margin: 0.5rem 0;
  list-style: none;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: 2px dotted #444;
}

/* Navbar */
#navbar {
  background: #333;
  color: #fff;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a:link,
#navbar ul li a:visited {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover,
#navbar ul li a:active {
  background: #4169e1;
  border-radius: 5px;
}

/* Showcase */

#showcase {
  background: #333 url("../img/showcase.jpg") no-repeat center center/cover;
  height: 95vh;
  color: #fff;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 2rem;

  /* Overlay */
  /* position: absolute; */
  /* top: 25px;
  left: 0; */
  /* bottom: 0;
  right: 0; */
  background-color: rgba(0, 0, 0, 0.45);
}

/* What We Do */

#what .items {
  display: flex;
  padding: 1rem;
}

#what .items .item {
  text-align: center;
  flex: 1;
  padding: 1rem;
}

#what .items .item i {
  background: #6088ff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* Who We Are */

#who {
  display: flex;
}

#who .who-img,
#who .who-text {
  flex: 1;
}

#who .who-img {
  background: url("../img/people.jpg") no-repeat center center/cover;
}

/*Clients*/

#clients .items {
  display: flex;
}

#clients .items img {
  width: 60%;
  display: block;
  margin: auto;
}

/* Contact Us */

.contact-form {
  width: 60%;
  margin: auto;
}

.contact-form h2,
.contact-form p {
  text-align: center;
}

#contact .contact-form .form-group {
  margin: 0.75rem;
}

#contact .contact-form label {
  display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.4rem;
}
